<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment.html :: head(~{ :: .additional })">
    <th:block class="additional">
        <link rel="stylesheet" href="/style.css">
        <style>
            #study-logo img {
                max-height: 200px;
            }
        </style>
    </th:block>
</head>

<body class="bg-light">
<nav th:replace="fragment.html :: nav"></nav>

<div th:replace="fragment.html :: needEmailVerified"></div>

<div th:replace="study/read/base.html :: banner"></div>

<div class="container">
    <div th:replace="study/read/base.html :: info"></div>
    <div th:replace="study/read/base.html :: menu(studyMenu='events')"></div>

    <div class="row mt-3 justify-content-center">
        <div class="col-3">
            <div th:replace="event/base.html :: menu(currentMenu='coming', path=${study.getPath()},
             cntComing=${events.get('cntComing')}, cntPast=${events.get('past').size()})"></div>
        </div>
        <div class="col-7 row row-cols-1 row-cols-md-2">
            <div th:if="${events.get('past').size() == 0}" class="col">No events yet.</div>
            <div class="col mb-4 pr-0" th:each="event: ${events.get('past')}">
                <div class="card">
                    <div class="card-header">
                        <span th:text="${event.title}">title</span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item calendar fas fa-calendar">
                            Start at <span class="date-time" th:text="${event.startAt}"></span>
                        </li>
                        <li class="list-group-item fas fa-hourglass-end">
                            Deadline at <span class="date-time" th:text="${event.endEnrollmentAt}"></span>
                            (<span th:class="${event.isClosed() ? 'text-danger fromNow' : 'text-info fromNow'}" th:text="${event.endEnrollmentAt}"></span>)
                        </li>
                        <li class="list-group-item">
                            <span class="fas fa-user" th:text="${' remains ' + event.enrollments.size() + '/' + event.limitEnrollment}"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#" th:href="@{'/study/' + ${study.path} + '/event/show/' + ${event.id}}" class="card-link">Detail</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragment.html :: footer"></footer>

<th:block th:replace="fragment.html :: scripts(~{ :: .additionalS })">
    <th:block class="additionalS">
        <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();

                $(".date-time").text(function(index, dateTime) {
                    return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('YY.MM.DD hh:mm');
                });
                $(".fromNow").text(function(index, dateTime) {
                    return moment(dateTime, "YYYY-MM-DD`T`hh:mm").fromNow();
                });
            });
        </script>
    </th:block>
</th:block>

</body>
</html>