<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment.html :: head(~{ :: .additional })">
    <th:block class="additional">
        <style>
            #study-logo img {
                max-height: 200px;
            }
            table.table th, table.table td{
                text-align: center;
            }
        </style>
    </th:block>
</head>

<body class="bg-light">
<nav th:replace="fragment.html :: nav"></nav>

<div th:replace="fragment.html :: needEmailVerified"></div>

<div th:replace="study/read/base.html :: banner"></div>

<div class="container">
    <div th:replace="study/read/base.html :: info"></div>
    <div th:replace="study/read/base.html :: menu(studyMenu='events')"></div>

    <div class="row mt-3 justify-content-center">
        <div class="col-10">
            <div th:if="${info}" class="alert alert-info alert-dismissible fade show mt-3 w-full" role="alert">
                <span th:text="${info}">info</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div class="mt-3 col-10 row">
            <h3 class="col-9">
                <a class="text-decoration-none"
                   th:href="@{'/study/read/show/' + ${study.path}}"
                   th:text="${study.title}"></a>
                /
                <span>
                    <a class="text-decoration-none"
                       th:href="@{'/study/'+${study.path}+'/event/show/' + ${event.id}}"
                       th:text="${event.title}"></a>
                </span>
            </h3>

            <div class="col-3 text-right justify-content-end">
                <p sec:authorize="isAuthenticated()">
                    <button th:if="${canAccountEnroll.get('isEnrollable')}"
                            class="btn btn-outline-primary" data-toggle="modal" data-target="#enroll">
                        <i class="fas fa-plus-circle"></i> Apply
                    </button>
                    <button th:if="${canAccountEnroll.get('isCancelable')}"
                            class="btn btn-outline-warning" data-toggle="modal" data-target="#cancel">
                        <i class="fas fa-minus-circle"></i> Cancel
                    </button>

                    <button th:if="${canAccountEnroll.get('isEnrollClosed') && !canAccountEnroll.get('isEnrolled')}"
                            class="btn btn-outline-primary disabled" data-toggle="tooltip" title="Time is up.">
                        <del class="fas fa-plus-circle"> Apply</del>
                    </button>
                    <button th:if="${canAccountEnroll.get('isEnrollClosed') && canAccountEnroll.get('isEnrolled')}"
                            class="btn btn-outline-warning disabled" data-toggle="tooltip" title="Time is up.">
                        <del class="fas fa-minus-circle"> Cancel</del>
                    </button>

                    <span class="text-success" th:if="${canAccountEnroll.get('isAttended')}" disabled>
                        <i class="fa fa-check-circle"></i> Attended
                    </span>
                </p>
            </div>

            <div class="modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="leaveTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-danger text-white">
                            <h5 class="modal-title" id="leaveTitle" th:text="${event.title}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Cancel?</p>
                            <p>If you <strong>Cancel</strong>, give others the chance for the applying.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                            <form th:action="@{'/study/' + ${study.path} + '/event/leave/' + ${event.id}}" method="post">
                                <button class="btn btn-danger" type="submit" aria-describedby="submitHelp">Leave</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="enroll" tabindex="-1" role="dialog" aria-labelledby="enrollmentTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" id="enrollmentTitle" th:text="${event.title}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Enroll?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                            <form th:action="@{'/study/' + ${study.path} + '/event/apply/' + ${event.id}}" method="post">
                                <button class="btn btn-primary" type="submit" aria-describedby="submitHelp">Enroll</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3 col-10 row">

            <div class="col-9">
                <dt class="fas fa-info-circle"> Detail</dt>
                <dd class="my-2" th:utext="${event.description}"></dd>

                <hr />

                <dt class="fas fa-user-circle"> Total applies :  (<span th:text="${event.enrollments.size()}"></span> / <span th:text="${event.limitEnrollment}"></span>)</dt>
                <dd>
                    <table class="table table-borderless table-striped table-sm" th:if="${event.enrollments.size() > 0}">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Attendees</th>
                            <th scope="col">Apply at</th>
                            <th scope="col">State</th>
                            <th th:if="${study.isManager(#authentication.principal)}" scope="col">
                                Manage
                            </th>
                            <th th:if="${study.isManager(#authentication.principal)}" scope="col">
                                Present
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="enroll: ${event.enrollments}">
                            <th scope="row" th:text="${enrollStat.count}"></th>
                            <td>
                                <a th:href="@{'/profile/read/' + ${enroll.account.nickname}}"
                                   class="text-decoration-none">
                                    <svg th:if="${#strings.isEmpty(enroll.account?.profileImage)}" data-jdenticon-value="nickname"
                                         th:data-jdenticon-value="${enroll.account.nickname}" width="24" height="24" class="rounded border bg-light"></svg>
                                    <img th:if="${!#strings.isEmpty(enroll.account?.profileImage)}"
                                         th:src="${enroll.account?.profileImage}" width="24" height="24" class="rounded border"/>
                                    <span th:text="${enroll.account.nickname}"></span>
                                </a>
                            </td>
                            <td>
                                <span class="date-time" th:text="${enroll.enrolledAt}"></span>
                            </td>
                            <td>
                                <span th:if="${enroll.accepted}" class="fas fa-check text-success" data-toggle="tooltip" title="Confirmed"></span>
                                <span th:if="${!enroll.accepted}" class="fas fa-hourglass-half" data-toggle="tooltip" title="Wait for confirmation"></span>
                            </td>
                            <td th:if="${study.isManager(#authentication.principal)}">
                                <a th:if="${enroll.isAcceptable(event)}"
                                   href="#" class="text-decoration-none text-success"
                                   th:href="@{'/study/' + ${study.path} + '/event/' + ${event.id} + '/enrollment/' + ${enroll.id} + '/accept'}">accept</a>
                                <a th:if="${enroll.isDeniable(event)}"
                                   href="#" class="text-decoration-none text-warning"
                                   th:href="@{'/study/' + ${study.path} + '/event/' + ${event.id} + '/enrollment/' + ${enroll.id} + '/reject'}">reject</a>
                                <span th:if="${!enroll.isManageable(event)}"> - </span>
                            </td>
                            <td th:if="${study.isManager(#authentication.principal)}">
                                <a th:if="${enroll.accepted && !enroll.attended}" href="#" class="btn btn-sm btn-outline-success"
                                   th:href="@{'/study/' + ${study.path} + '/event/' + ${event.id} + '/enrollment/' + ${enroll.id} + '/checkin'}">attended</a>
                                <a th:if="${enroll.accepted && enroll.attended}" href="#" class="btn btn-sm btn-outline-warning"
                                   th:href="@{'/study/' + ${study.path} + '/event/' + ${event.id} + '/enrollment/' + ${enroll.id} + '/cancel-checkin'}">no show</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </dd>
            </div>

            <div class="col-3 text-right justify-content-end">
                <dt class="fas fa-star"> Enrollment Type</dt>
                <dd>
                    <span class="font-weight-bold text-secondary"
                          th:if="${event.eventType == T(lec.spring.studygroupclone.helpers.event.EventType).FCFS}">
                        Automatically
                    </span>
                    <span class="font-weight-bold text-secondary"
                          th:if="${event.eventType == T(lec.spring.studygroupclone.helpers.event.EventType).CONFIRMATIVE}">
                        Manager Manually
                    </span>
                </dd>

                <dt class="fas fa-user"> Limit members</dt>
                <dd>
                    <span class="font-weight-bold text-secondary" th:text="${event.limitEnrollment}"></span>
                </dd>

                <dt class="fas fa-hourglass-half"> Deadline for apply</dt>
                <dd>
                    <span class="date font-weight-bold text-secondary" th:text="${event.endEnrollmentAt}"></span>
                    <span class="weekday font-weight-bold text-secondary" th:text="${event.endEnrollmentAt}"></span><br/>
                    <span class="time font-weight-bold text-secondary" th:text="${event.endEnrollmentAt}"></span>
                </dd>

                <dt class="fas fa-calendar"> Meeting</dt>
                <dd>
                    <span class="date font-weight-bold text-secondary" th:text="${event.startAt}"></span>
                    <span class="weekday font-weight-bold text-secondary" th:text="${event.startAt}"></span><br/>
                    <span class="time font-weight-bold text-secondary" th:text="${event.startAt}"></span> -
                    <span class="time font-weight-bold text-secondary" th:text="${event.startAt}"></span>
                </dd>

                <dt class="fas fa-flag"> Leader</dt>
                <dd>

                </dd>

                <dt th:if="${study.isManager(#authentication.principal)}" class="fas fa-wrench"> Manage</dt>
                <dd th:if="${study.isManager(#authentication.principal)}">
                    <p class="mb-1">
                        <a class="btn btn-outline-primary btn-sm mt-1"
                           th:href="@{'/study/' + ${study.path} + '/event/edit/' + ${event.id}}" >
                            MODIFY
                        </a>
                    </p>
                    <p>
                        <button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#cancelE">
                            DELETE
                        </button>
                    </p>
                </dd>
                <div class="modal fade" id="cancelE" tabindex="-1" role="dialog" aria-labelledby="cancelTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-danger text-white">
                                <h5 class="modal-title" id="cancelTitle" th:text="${event.title}"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="text-danger">Delete Event?</p>
                                <p>Delete everything(applies, time information, description...) related this event.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                                <form th:action="@{'/study/' + ${study.path} + '/event/delete/' + ${event.id}}" th:method="delete">
                                    <button class="btn btn-danger" type="submit" aria-describedby="submitHelp">sure</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<footer th:replace="fragment.html :: footer"></footer>

<th:block th:replace="fragment.html :: scripts(~{ :: .additionalS })">
    <th:block class="additionalS">
        <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();

                $(".date-time").text(function(index, dateTime) {
                    return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('YY-MM-DD hh:mm');
                });

                $(".date").text(function(index, dateTime) {
                    return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('YY-MM-DD');
                });

                $(".weekday").text(function(index, dateTime) {
                    return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('ddd');
                });

                $(".time").text(function(index, dateTime) {
                    return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('hh:mm');
                });
            });
        </script>
    </th:block>
</th:block>
<th:block th:replace="fragment.html :: formValidationScript"></th:block>

</body>
</html>