<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment.html :: head"></head>

<body class="bg-light">

<nav th:replace="fragment.html :: nav"></nav>

<div class="container">
    <div class="py-5 text-center" th:if="${error}">
        <h2 class="h2">Sorry!</h2>
        <p class="lead">CHECKED EMAIL FAILED!</p>
        <div class="alert alert-danger" role="alert">EMAIL VERIFICATION FAILED</div>
    </div>
    <div class="py-5 text-center" th:if="${error == null}">
        <h2 class="h2">Congratulation!</h2>
        <p class="lead">CHECKED EMAIL SUCCESS!</p>
        <div class="info">
            You are <span th:text="${countMember}"></span>th member.
            Hello, <span th:text="${nickname}"></span>~.
        </div>
        <small class="text-info">You are now our member.</small>
    </div>
</div>

<footer th:replace="fragment.html :: footer"></footer>

<th:block th:replace="fragment.html :: script"></th:block>

</body>
</html>