<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment.html :: head"></head>

<body class="bg-light">

<nav th:replace="fragment.html :: nav"></nav>
<p class="alert alert-danger" role="alert" th:if="${error != null}">Can't find match the email or password.</p>

<div class="container">
    <div class="py-5 text-center">
        <h2>LOGIN</h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-6" action="#"
              th:action="@{/login}" th:object="${account}" method="post" novalidate>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="email" th:field="*{email}" class="form-control"
                       placeholder="your@email.com" aria-describedby="emailHelp" required>
                <small class="invalid-feedback">Input your Email</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
            </div>

            <div class="form-group mb-4">
                <label for="password">Password</label>
                <input id="password" type="password" th:field="*{password}" class="form-control"
                       aria-describedby="passwordHelp" required minlength="4" maxlength="25">
                <small class="invalid-feedback">Input your password</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
            </div>

            <div class="form-group mb-4">
                <div class="input-group mb-2">
                    <div class="input-group-prepend input-group-text">
                        <input type="checkbox" id="remember" />
                    </div>
                    <label class="form-control" for="remember">REMEMBER ME</label>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-success btn-block" type="submit"
                        aria-describedby="submitHelp">LOGIN</button>
                <small id="submitHelp" class="form-text text-muted">
                    You want login <a href="/login-nopassword">without password</a> or <a href="/find-password">Can't remember your password?</a>
                </small>
            </div>
        </form>
    </div>
</div>

<footer th:replace="fragment.html :: footer"></footer>

<th:block th:replace="fragment.html :: script"></th:block>
<th:block th:replace="fragment.html :: formValidationScript"></th:block>

</body>
</html>