<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment.html :: head(~{  })"></head>

<body class="bg-light">

<nav th:replace="fragment.html :: nav"></nav>
<p class="alert alert-danger" role="alert" th:if="${param.error != null}">Can't find match the email or password.</p>

<div class="container">
    <div class="py-5 text-center">
        <h2>Login via Email link</h2>
    </div>
    <div class="row justify-content-center">
        <div th:if="${error}" class="col-12 alert alert-danger alert-dismissible fade show mt-3" role="alert">
            <span th:text="${error}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div th:if="${info}" class="col-12 alert alert-info alert-dismissible fade show mt-3" role="alert">
            <span th:text="${info}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form class="col-12 needs-validation" action="#" th:action="@{/login-nopassword}" method="post" novalidate>
            <div class="form-group">
                <label for="email">Email that was used for Register.</label>
                <input id="email" type="email" name="email" class="form-control"
                       placeholder="your@email.com" aria-describedby="emailHelp" required>
                <small id="emailHelp" class="form-text text-muted">
                    Input email address that you use for register.
                </small>
                <small class="invalid-feedback">Input email address that you use for register.</small>
            </div>

            <div class="form-group">
                <button class="btn btn-success btn-block" type="submit"
                        aria-describedby="submitHelp">Send Link</button>
                <small id="submitHelp" class="form-text text-muted">
                    If you did not register here, <a href="#" th:href="@{/sign-up}">register first.</a>
                </small>
            </div>
        </form>
</div>

<footer th:replace="fragment.html :: footer"></footer>

<th:block th:replace="fragment.html :: scripts(~{  })"></th:block>
<th:block th:replace="fragment.html :: formValidationScript"></th:block>

</body>
</html>