<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment.html :: head"></head>

<body class="bg-light">

<nav th:replace="fragment.html :: nav"></nav>

<div class="container">
    <div class="py-5 text-center">
        <h2>Join The Site!</h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-6" action="#"
              th:action="@{/sign-up}" th:object="${account}" method="post" novalidate>
            <div class="form-group">
                <label for="nickname">NickName</label>
                <input id="nickname" type="text" th:field="*{nickname}" class="form-control"
                       placeholder="DarkKnight" aria-describedby="nicknameHelp" required minlength="3" maxlength="20">
                <small id="nicknameHelp" class="form-text text-muted p-1">
                    You can make nickname only with more then 3, less then 20 numbers and alphabets. You can modify after register.
                </small>
                <small class="invalid-feedback">Input Nick Name</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname Error</small>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="email" th:field="*{email}" class="form-control"
                       placeholder="your@email.com" aria-describedby="emailHelp" required>
                <small id="emailHelp" class="form-text text-muted p-1">
                    This site is never expose your email to another one.
                </small>
                <small class="invalid-feedback">Input your Email</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" th:field="*{password}" class="form-control"
                       aria-describedby="passwordHelp" required minlength="4" maxlength="25">
                <small id="passwordHelp" class="form-text text-muted p-1">
                    Make password more then 8, less then 50 letters including number, alphabet, any of special character but No whitespace.
                </small>
                <small class="invalid-feedback">Don't skip make a password</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit"
                        aria-describedby="submitHelp">Be One of Our Members</button>
                <small id="submitHelp" class="form-text text-muted">
                    Read <a href="#">Terms and condition</a>, and press above if you are AGREE.
                </small>
            </div>
        </form>
    </div>
</div>

<footer th:replace="fragment.html :: footer"></footer>

<th:block th:replace="fragment.html :: script"></th:block>
<script type="application/javascript">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            let forms = document.getElementsByClassName('needs-validation');

            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            })
        }, false);
    }());
</script>

</body>
</html>