<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="settings-menu (currentMenu, path)" class="list-group mb-2">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'edit'}? active" href="#" th:href="@{'/study/setting/edit/' + ${path}}">edit</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'banner'}? active" href="#" th:href="@{'/study/setting/banner/' + ${path}}">banner</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'tags'}? active" href="#" th:href="@{'/study/setting/tags/' + ${path}}">tags</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'locations'}? active" href="#" th:href="@{'/study/setting/locations/' + ${path}}">locations</a>
    <a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'study'}? active" href="#" th:href="@{/study/setting/study}">study</a>
</div>

</html>